<launch>
    <node pkg="sesto_server_interface" name="server_sim_node" type="server_sim_node" output="screen">
        <remap from="tcp_socket/write" to="tcp_server/write"/>
        <remap from="tcp_socket/read" to="tcp_server/read"/>
        <remap from="multicast_socket/write" to="udp_multicaster/write"/>
        <remap from="multicast_socket/read" to="udp_multicaster/read"/>
    </node>

    <node name="udp_multicaster" pkg="socket_comms" type="udpMultiLine" output="screen" respawn="true">
        <param name="port" type="int" value="1024" />
        <param name="address" type="str" value="239.239.239.239" />
    </node>
    
    <node name="tcp_server" pkg="socket_comms" type="tcpServer" output="screen" respawn="true">
        <param name="port" value="1024" />
        <param name="freq" value="20"/>
    </node>
</launch>
